body{
    padding: 0;
    margin: 0;
    background-image: url("./books.jpg");
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

