{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='book.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


{% endblock %}



{% block body %}


  <!-- Image Section - set the background image for the header in the line below -->
  <section class="py-5 bg-image-full" style="background-image: url('https://www.kaplaninternational.com/blog/files/inline-images/classic%20books_0.jpg');">
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    <div style="height: 200px;"></div>
  </section>


<!-- Content section -->

<section class="py-5">
    <div class="container">
      <h1>{{book.title}}</h1>
      <p class="lead">{{book.author}}</p>
      <p>{{book.year}}</p>
    </div>
  </section>


<div class="container" style="width: 70%;">








<h5>WHAT DO YOU THINK:</h5>
{% if error  %}
    <p style="color: rgb(255, 0, 0); ">{{error}}</p>
{% endif %}

 <form style="margin-bottom: 6rem;"  method="POST" action="{{ url_for('review') }}"  >

       <fieldset name="rating" class="rating">
               <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
               
               <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
               
               <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
               
               <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
               
               <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
              
           </fieldset>
       <div class="form-group">
               
               <textarea name="body" class="form-control" id="exampleFormControlTextarea1" rows="3" required ></textarea>
             </div>
             <input  name='book_id' value="{{book.id}}" type="hidden" > 
             <button  type="submit" class="btn btn-outline-primary">Review</button>


 </form>


{% if reviews %}
<div class="row">
{% for review in reviews %}
<div class="col-md-7">
<div class="card mb-3 " style="margin-left:3rem;height:8rem" >
        <div class="card-header" style="padding: 3px;">@{{review.fname}} :</div>
        <div class="card-body text-dark" style="padding: 10px;">
                <div>
                        {% if review.rating %}
                        {% for star in range(review.rating) %}
                        <span style="color: #FFD700;" class="fa fa-star checked"></span>
                        
                        
                        
                        {% endfor %}
                        
                        {% else %}
                        <span style="color: rgb(180, 180, 180);" class="fa fa-star checked"></span>
                        <span style="color: rgb(180, 180, 180);" class="fa fa-star checked"></span>
                        <span style="color: rgb(180, 180, 180);" class="fa fa-star checked"></span>
                        <span style="color: rgb(180, 180, 180);" class="fa fa-star checked"></span>
                        <span style="color: rgb(180, 180, 180);" class="fa fa-star checked"></span>

                         
                        {% endif %}
                </div> 
          <p class="card-text" style="margin: 0;margin-bottom:15px" >{{ review.body }}</p>
          <small class="card-text"  >{{ review.date }}</small>
        </div>
      </div>
</div>
{% endfor %}
</div>
{% endif %}
<hr>

{% if nrating and arating %}

<div class="card border-info mb-3" style="max-width: 18rem;margin-top:2rem">
    <div class="card-header">Goodreads Review:</div>
    <div class="card-body">
        <p class="card-text">average rating: {{arating}}</p>
      <p class="card-text">number of ratings: {{nrating}}</p>
      <a href="https://www.goodreads.com/" target="blank" class="btn btn-outline-info">Goodreads Website </a>
    </div>
  </div>





{% endif %}







</div>




{% endblock %}