
 {% extends 'base.html' %} 


 {% block style %}
   
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='index-style.css') }}">
 {% endblock %}

 
{% block body %}
<div  style="height: 100vh;padding:0;display: flex;align-items: center;justify-content: center" class="container-fluid">

        {% if name %}
           <h1>HELLO {{name}}</h1>
        {% endif %}
   
            <form method="GET" action="{{ url_for('search') }}"  style="margin: 9rem;" class="input-group">
                        
              
                <input name="title" type="text" class="form-control" placeholder="Search" >

                        
                        <div class="input-group-append">
                          <button class="btn btn-secondary" type="submit">
                            <i class="fa fa-search"></i>
                          </button>
                        </div>
                      </div>
      
     
     
                  </form>
     {% endblock %}
