{% extends 'base.html' %}
{% block body %}
<!-- Default form login -->
<div class="container" style="margin-top: 7rem;">
    <div class="container" style="width: 90%;">
<form novalidate method="POST" action="{{ url_for('login') }}" class="text-center border border-light p-5" action="#!">
        {{ form.hidden_tag() }}
        <p class="h4 mb-4">LOGIN</p>
    
        <!-- Email -->
        <p>
              
               {{ form.email( class="form-control  mb-4",placeholder='Email' ) }}
    
               {% if form.email.errors%}
               {% for error in email.errors %}
                  <span style="color:rgb(236, 0, 0);background-color:rgb(255, 223, 223)">{{ error }}</span>
                  {% endfor %}
               
               {% endif %}
            </p>
            <p>
              <!--Password-->
                {{ form.password(class="form-control  mb-4",placeholder='Password')}}
            </p>
        {% if error %}
        <span style="color:rgb(236, 0, 0);background-color:rgb(255, 223, 223)">{{ error }}</span>
        {% endif %}


        {% if form.password.errors%}
        {% for error in form.password.errors %}
           <span style="color:rgb(236, 0, 0);background-color:rgb(255, 223, 223)">{{ error }}</span>
           {% endfor %}
        
        {% endif %}
       
    
        <!-- Sign in button -->
        <p>{{ form.submit(class="btn btn-info my-4 btn-block") }}</p>
    
        <!-- Register -->
        <p>Not a member?
            <a href="{{url_for('signup')}}">Register</a>
        </p>
    </form>
    <!-- Default form login -->
    </div>
    </div>
    {% endblock %}